.reachOutCont {
  display: block;
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-color: #5d2a42;
  overflow: hidden;
}

.reachOutCont .hand {
  position: absolute;
  -webkit-transform: rotate(-90deg) !important;
          transform: rotate(-90deg) !important;
  top: 0;
  left: -40%;
}

.reachOutCont .content {
  text-align: right;
  margin: 1em 3em 0 0;
}

.reachOutCont .content .heading {
  color: #fff;
  font-size: 3em;
  font-weight: 600;
}

.reachOutCont .content .text {
  margin-top: 1em;
  color: #fff;
}

.reachOutCont .content .socialMedia {
  margin-top: 5em;
}

.reachOutCont .content .socialMedia .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  margin-left: 50vw;
}

.reachOutCont .content .socialMedia .row a {
  position: relative;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 0 0.8em;
  cursor: pointer;
}

.reachOutCont .content .socialMedia .row a i {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1.8em;
  border-radius: 50%;
  padding: 20px;
  height: calc(1.8em + 20px);
  width: calc(1.8em + 20px);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.reachOutCont .content .socialMedia .row a i::after {
  position: absolute;
  content: "";
  border: 2px solid #fff;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.reachOutCont .content .socialMedia .row a i:hover {
  background-color: #fff;
  color: #5d2a42;
}

.reachOutCont .content .socialMedia .row a i:hover::after {
  opacity: 1;
  height: 120%;
  width: 120%;
}

.reachOutCont .content .socialMedia .row a div {
  position: absolute;
  font-size: 0.8em;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 50%;
  opacity: 0;
  z-index: -1;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.reachOutCont .content .socialMedia .row a:not(:first-child) {
  border-left: 1px solid #747171;
}

.reachOutCont .content .socialMedia .row a:hover div {
  top: 130%;
  opacity: 1;
  z-index: inherit;
}

.reachOutCont .container {
  position: relative;
  top: 15em;
  right: -27em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reachOutCont .container .card1,
.reachOutCont .container .card2 {
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.reachOutCont .container .card1 {
  width: 20vw;
  height: 20vw;
  background-image: url("../../../src/assets/images/reachOut/background.png");
  border-radius: 50%;
}

.reachOutCont .container .card2 {
  top: 3vw;
  width: 7vw;
  height: 17vw;
  background-image: url("../../../src/assets/images/reachOut/man-sitting-on-chair.png");
}

@media only screen and (max-width: 992px) {
  .reachOutCont .hand {
    display: none;
  }
  .reachOutCont .content {
    margin: 1.5em 2em 0 0;
  }
  .reachOutCont .content .heading {
    font-size: 2em;
  }
  .reachOutCont .content .text {
    margin-top: 1em;
    font-size: 0.9em;
  }
  .reachOutCont .content .socialMedia {
    margin-top: 5em;
  }
  .reachOutCont .content .socialMedia .row {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-row-gap: 2.5em;
    margin-left: 2em;
  }
  .reachOutCont .content .socialMedia .row a {
    padding: 0 1em;
  }
  .reachOutCont .content .socialMedia .row a i {
    font-size: 1em;
    height: auto;
    width: auto;
  }
  .reachOutCont .content .socialMedia .row a div {
    position: relative;
    font-size: 0.7em;
    top: 1em;
    opacity: 1;
    z-index: inherit;
    white-space: nowrap;
  }
  .reachOutCont .content .socialMedia .row a:nth-child(4) {
    border-left: none;
  }
  .reachOutCont .content .socialMedia .row a:hover div {
    top: 1em;
  }
  .reachOutCont .container {
    position: relative;
    top: 30vh;
    right: 0;
  }
  .reachOutCont .container .card1 {
    width: 230px;
    height: 230px;
    background-image: url("../../../src/assets/images/reachOut/background.png");
    border-radius: 50%;
  }
  .reachOutCont .container .card2 {
    top: 25vw;
    left: 35vw;
    width: 90px;
    height: 180px;
    background-image: url("../../../src/assets/images/reachOut/man-sitting-on-chair.png");
  }
}
/*# sourceMappingURL=ReachOut.css.map */