.reachOutCont {
  display: block;
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-color: #5d2a42;
  overflow: hidden;

  .hand {
    position: absolute;
    transform: rotate(-90deg) !important;
    top: 0;
    left: -40%;
  }

  .content {
    text-align: right;
    margin: 1em 3em 0 0;

    .heading {
      color: #fff;
      font-size: 3em;
      font-weight: 600;
    }

    .text {
      margin-top: 1em;
      color: #fff;
    }

    .socialMedia {
      margin-top: 5em;

      .row {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-left: 50vw;

        a {
          position: relative;
          color: #fff;
          text-decoration: none;
          text-align: center;
          padding: 0 0.8em;
          cursor: pointer;

          i {
            position: relative;
            background-color: rgba(255, 255, 255, 0.2);
            color: #fff;
            font-size: 1.8em;
            height: 2.5em;
            width: 2.5em;
            text-align: center;
            vertical-align: middle;
            border-radius: 50%;
            padding: 20px;
            transition: 0.3s all ease;

            &::after {
              position: absolute;
              content: "";
              border: 2px solid #fff;
              height: 100%;
              width: 100%;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              border-radius: 50%;
              opacity: 0;
              transition: 0.3s all ease;
            }

            &:hover {
              background-color: #fff;
              color: #5d2a42;

              &::after {
                opacity: 1;
                height: 120%;
                width: 120%;
              }
            }
          }

          div {
            position: absolute;
            font-size: 0.8em;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            top: 50%;
            opacity: 0;
            z-index: -1;
            transition: 0.5s all ease;
          }

          &:not(:first-child) {
            border-left: 1px solid rgb(116, 113, 113);
          }

          &:hover {
            div {
              top: 130%;
              opacity: 1;
              z-index: inherit;
            }
          }
        }
      }
    }
  }

  .container {
    position: relative;
    top: 15em;
    right: -27em;
    display: flex;
    align-items: center;
    justify-content: center;

    .card1,
    .card2 {
      position: absolute;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      will-change: transform;
    }

    .card1 {
      width: 20vw;
      height: 20vw;
      background-image: url("../../../src/assets/images/reachOut/background.png");
      border-radius: 50%;
    }

    .card2 {
      top: 3vw;
      width: 7vw;
      height: 17vw;
      background-image: url("../../../src/assets/images/reachOut/man-sitting-on-chair.png");
    }
  }
}

@media only screen and (max-width: 992px) {
  .reachOutCont {
    .hand {
      display: none;
    }

    .content {
      margin: 1.5em 2em 0 0;

      .heading {
        font-size: 2em;
      }

      .text {
        margin-top: 1em;
        font-size: 0.9em;
      }

      .socialMedia {
        margin-top: 5em;

        .row {
          grid-template-columns: repeat(3, 1fr);
          justify-content: center;
          grid-row-gap: 2.5em;
          margin-left: 2em;

          a {
            padding: 0 1em;

            i {
              font-size: 1em;
              height: 3.5em;
              width: 3.5em;
            }

            div {
              position: relative;
              font-size: 0.7em;
              top: 1em;
              opacity: 1;
              z-index: inherit;
              white-space: nowrap;
            }

            &:nth-child(4) {
              border-left: none;
            }

            &:hover {
              div {
                top: 1em;
              }
            }
          }
        }
      }
    }

    .container {
      position: relative;
      top: 30vh;
      right: 0;

      .card1 {
        width: 230px;
        height: 230px;
        background-image: url("../../../src/assets/images/reachOut/background.png");
        border-radius: 50%;
      }

      .card2 {
        top: 25vw;
        left: 35vw;
        width: 90px;
        height: 180px;
        background-image: url("../../../src/assets/images/reachOut/man-sitting-on-chair.png");
      }
    }
  }
}
