.interestsCont {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-color: #264653;
  overflow: hidden;
}

.interestsCont .heading {
  color: #fff;
  font-size: 3em;
  font-weight: 600;
  margin: 1em 0 0 1em;
}

.interestsCont .hand {
  position: absolute;
  right: -9em;
  top: 6em;
  z-index: 0;
}

.interestsCont .content {
  margin: 20vh 2em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5em;
}

.interestsCont .content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  z-index: 2;
}

.interestsCont .content > div .sectionHeading {
  font-size: 1.7em;
  font-weight: 500;
}

.interestsCont .content > div img {
  margin-top: 2em;
  height: 35vh;
}

.interestsCont .content > div .right {
  margin-left: 1em;
}

.interestsCont .content > div .right p {
  margin-top: 2em;
}

.interestsCont .content > div .right button {
  margin-top: 2em;
  padding: 10px 45px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.interestsCont .content > div.youtube {
  border-left: 1px solid #979797;
}

.interestsCont .pageTransitions .layer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: -100vw;
  z-index: 1001;
}

.interestsCont .pageTransitions.show .layer1 {
  background-color: #e9c46a;
  -webkit-animation: transition 0.6s ease forwards;
          animation: transition 0.6s ease forwards;
}

.interestsCont .pageTransitions.show .layer2 {
  background-color: #f4a261;
  -webkit-animation: transition 0.6s ease 0.3s forwards;
          animation: transition 0.6s ease 0.3s forwards;
}

.interestsCont .pageTransitions.show .layer3 {
  background-color: #e76f51;
  -webkit-animation: transition 0.6s ease 0.6s forwards;
          animation: transition 0.6s ease 0.6s forwards;
}

@-webkit-keyframes transition {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}

@keyframes transition {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}

@media only screen and (max-width: 992px) {
  .interestsCont .heading {
    font-size: 2em;
    width: 90vw;
    margin: 1em 0 0 1em;
  }
  .interestsCont .hand {
    display: none;
  }
  .interestsCont .content {
    margin: 10vh 1em 0;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .interestsCont .content > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    z-index: 2;
  }
  .interestsCont .content > div .sectionHeading {
    font-size: 1.7em;
    font-weight: 500;
  }
  .interestsCont .content > div img {
    margin-top: 0;
    height: 20vh;
  }
  .interestsCont .content > div .right {
    margin-left: 1em;
  }
  .interestsCont .content > div .right p {
    margin-top: 1em;
    font-size: 0.9em;
  }
  .interestsCont .content > div .right button {
    margin-top: 1.5em;
  }
  .interestsCont .content > div.youtube {
    margin-top: 7vh;
    border-left: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .interestsCont .content > div.youtube .right {
    margin-left: 0;
  }
}
/*# sourceMappingURL=Interests.css.map */