.navbar {
  position: absolute;
  top: 2em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: transparent;
  z-index: 10001;
}

.navbar img {
  height: 20px;
}

.navbar .center {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5em;
  justify-items: center;
}

.navbar .center a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.mobileNav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #e76f51;
  opacity: 0;
  pointer-events: none;
  z-index: 10000;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.mobileNav .navLists {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100vh;
  overflow: hidden;
}

.mobileNav .navLists a {
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.mobileNav .navLists::before {
  position: absolute;
  content: "";
  height: 300px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  bottom: 100px;
  right: -150px;
  pointer-events: none;
}

.mobileNav .navLists::after {
  position: absolute;
  content: "";
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: -150px;
  right: -150px;
  pointer-events: none;
}

.mobileNav.show {
  opacity: 1;
  pointer-events: all;
}

@media only screen and (max-width: 992px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90vw;
  }
  .navbar img {
    height: 15px;
  }
  .navbar .center a {
    display: none;
  }
  .navbar .center .navIcon {
    position: relative;
    width: 30px;
    height: 20px;
    outline: none;
    cursor: pointer;
    z-index: 10001;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .navbar .center .navIcon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .navbar .center .navIcon span:nth-child(1) {
    top: 0;
  }
  .navbar .center .navIcon span:nth-child(2) {
    top: 9px;
  }
  .navbar .center .navIcon span:nth-child(3) {
    top: 18px;
  }
  .navbar .center .navIcon.open span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .navbar .center .navIcon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  .navbar .center .navIcon.open span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
}
/*# sourceMappingURL=Navbar.css.map */