.navbar {
  position: absolute;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
  width: 75vw;
  display: flex;
  justify-content: space-between;
  background: transparent;
  z-index: 10001;

  img {
    height: 20px;
  }

  .center {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5em;
    justify-items: center;

    a {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      text-decoration: none;
      color: #fff;
      cursor: pointer;
    }
  }
}

.mobileNav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #e76f51;
  opacity: 0;
  pointer-events: none;
  z-index: 10000;
  transition: 0.3s all ease;

  .navLists {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    overflow: hidden;

    a {
      text-transform: uppercase;
      font-weight: 600;
      text-decoration: none;
      color: #fff;
      cursor: pointer;
    }

    &::before {
      position: absolute;
      content: "";
      height: 300px;
      width: 300px;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      bottom: 100px;
      right: -150px;
      pointer-events: none;
    }

    &::after {
      position: absolute;
      content: "";
      height: 400px;
      width: 400px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.2);
      bottom: -150px;
      right: -150px;
      pointer-events: none;
    }
  }

  &.show {
    opacity: 1;
    pointer-events: all;
  }
}

@media only screen and (max-width: 992px) {
  .navbar {
    flex-direction: row-reverse;
    align-items: center;
    width: 90vw;

    img {
      height: 15px;
    }

    .center {
      a {
        display: none;
      }

      .navIcon {
        position: relative;
        width: 30px;
        height: 20px;
        outline: none;
        cursor: pointer;
        z-index: 10001;
        transition: 0.5s ease-in-out;

        span {
          display: block;
          position: absolute;
          height: 3px;
          width: 100%;
          background: #fff;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          transform: rotate(0deg);
          transition: 0.25s ease-in-out;

          &:nth-child(1) {
            top: 0;
          }

          &:nth-child(2) {
            top: 9px;
          }

          &:nth-child(3) {
            top: 18px;
          }
        }

        &.open {
          span {
            &:nth-child(1) {
              top: 9px;
              transform: rotate(135deg);
            }

            &:nth-child(2) {
              opacity: 0;
              left: -60px;
            }

            &:nth-child(3) {
              top: 9px;
              transform: rotate(-135deg);
            }
          }
        }
      }
    }
  }
}
