// @import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");

.navbar {
  position: absolute;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
  width: 75vw;
  display: flex;
  justify-content: space-between;
  background: transparent;
  z-index: 1000;

  img {
    height: 20px;
  }

  .center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5em;
    justify-items: center;

    a {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      text-decoration: none;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 992px) {
  .navbar {
    flex-direction: row-reverse;
    width: 90vw;

    img {
      height: 15px;
    }

    .center {
      a {
        display: none;
      }

      div {
        outline: none;
        cursor: pointer;

        .line {
          height: 3px;
          width: 30px;
          background-color: #fff;
        }

        .line2 {
          width: 20px;
        }

        .line3 {
          width: 10px;
        }

        .line2,
        .line3 {
          margin-top: 6px;
        }
      }
    }
  }
}
